.contact_container {
  margin-top: 100px;

  .contact_row {
    .contact_body {
      /* ContactForm.scss */
      padding: 0px 20px;
      margin-top: 20px;
      .header_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        max-width: 700px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      label {
        font-size: 14px;
        color: #333;
      }

      input,
      textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        transition: border-color 0.3s;
      }

      input:focus,
      textarea:focus {
        border-color: #0f7d59;
      }

      textarea {
        resize: vertical;
      }

      .error_message {
        font-size: 12px;
        color: red;
      }

      .submit_button {
        padding: 12px 20px;
        background-color: #0f7d59;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .submit_button:hover {
        background-color: #0e6a4d;
      }
    }
  }
}
