.feature_container {
  width: 100%;
  transition: background-color 0.3s ease;
  .feature_row {
    max-width: 1600px;
    margin: auto;
    display: flex;
    .feature_left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      .feauture_left_content {
       
        max-width: 85%;
     
        transition: max-width 1s ease-in-out;
        h1 {
          margin-top: 0px;

          p {
            width: 100%;
            max-width: fit-content;
            //font-size: 2.3rem;
            position: relative;
            text-wrap: nowrap;
            overflow: hidden;
            &::after {
              height: 100%;
              width: 2px;
              background-color: green;
              position: absolute;
              top: 0;
              right: 0;
            }
            span {
              color: #21b365;
            }
            &:nth-of-type(1) {
              animation: text_enter 2s ease-in-out alternate forwards;
              &::after {
                content: "";
                animation: after_fade 1s ease-in-out forwards;
              }
            }
            &:nth-of-type(2) {
              width: 0px;
              animation: text_enter 2s ease-in-out alternate forwards;
              animation-delay: 1s;
              &::after {
                content: "";
                animation: after_fade 1s ease-in-out forwards;
                animation-delay: 2s;
              }
            }
            &:nth-of-type(3) {
              width: 0px;
              animation: text_enter 2s ease-in-out alternate forwards;
              animation-delay: 2.5s;
              &::after {
                content: "";
                animation: after_fade 1s ease-in-out forwards;
                animation-delay: 3s;
              }
            }
          }
        }
        .feature_left_content_introduction {
          font-size: 1rem;
        }
      }
    }
    .feature_right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .feature_right_content {
        background-color: #21b365;
        overflow: hidden;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        .content_right {
          color: white;
          padding: 30px;
          h2 {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            img {
              width: 1rem;
              height: 1rem;
            }
          }
          ul {
            padding: 10px;
            li {
              padding: 2px;
              list-style-type: circle;
            }
          }
        }
        .feature_right_content_banner {
          position: absolute;
          max-width: 100%;
          max-height: 100%;
          bottom: -80px;
          right: -30px;
          z-index: -1;
        }
      }
    }
  }
}
.feature_container.active {
  background-color: black;
  color: white;
}
@media only screen and (min-width: 1170px) {
  .feauture_left_content {
    width: 100%;
    max-width: 80%;

    h1 {
      p {
        font-size: 2.3rem;
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  .feature_container {
    .feature_row {
      flex-direction: column;
      .feature_left {
        .feauture_left_content {
          max-width: 100%;

          h1 {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
      .feature_right {
        display: none;
      }
    }
  }
}

@keyframes text_enter {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes after_fade {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0; /* Ẩn `::after` sau khi text_enter hoàn tất */
  }
}
